html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

body {
   background-color: #ffffff;
   font-family: "Montserrat", sans-serif;
}

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   z-index: 1000;
   height: 208px;

   &__logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 414px;
      height: 207px;
      border-radius: 0 0 50% 50% / 0 0 100% 100%;
      box-shadow: 0 0 65px 0 rgba(218, 229, 239, 0.55);
      background-color: #ffffff;
   }

   &__title {
      width: 151px;
      height: 35px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: center;
      color: #43a9ff;
   }

   &__subtitle {
      width: 201px;
      height: 13px;
      white-space: nowrap;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.18px;
      text-align: center;
      color: rgba(75, 88, 99, 0.15);
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      box-shadow: 0 0 65px 0 #dae5ef;
      background-color: #ffffff;
      border-radius: 50%;
      transition: background-color 0.1s linear;
      .btn__icon {
         fill: #000;
         width: 21px;
         height: 21px;
         transition: fill 0.1s linear;
      }
      &:hover {
         background-color: #ebe8e8;
         .btn__icon {
            fill: #0990ff;
         }
      }
   }
}

.intro {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 100%;
   margin-top: 17.5%;
   &__title {
      margin-top: 172px;
      width: 885px;
      height: 46px;
      white-space: nowrap;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: center;
      color: #000000;
   }

   &__subtitle {
      width: 509px;
      height: 18px;
      white-space: nowrap;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.18px;
      text-align: center;
      color: rgba(75, 88, 99, 0.25);
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 9%;
      width: 229px;
      height: 51px;
      border-radius: 22px;
      box-shadow: 0 0 35px 0 rgba(218, 229, 239, 0.35);
      background-color: #ffffff;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.14px;
      text-align: center;
      color: #43a9ff;
      transition: color 0.1s linear, background-color 0.2s linear;
      text-decoration: none;
      &:hover {
         color: #0990ff;
         background-color: #ebe8e8;
      }
   }

   &__horse-photo {
      position: absolute;
      width: 100%;
      height: 1333px;
      margin-top: 434px;
      margin-bottom: 119px;
      z-index: -1;
   }
}

.features {
   display: flex;
   // justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 925px;
   &__suptitle {
      width: 509px;
      height: 18px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.18px;
      text-align: center;
      color: rgba(75, 88, 99, 0.25);
   }

   &__title {
      margin-top: 23px;
      width: 673px;
      height: 45px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: center;
      color: #000000;
   }

   &__item-container {
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
   }

   &__btn {
      margin: 94px auto 125px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 229px;
      height: 51px;
      border-radius: 22px;
      box-shadow: 0 0 35px 0 rgba(218, 229, 239, 0.45);
      background-color: #ffffff;
      text-decoration: none;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.14px;
      text-align: center;
      color: #43a9ff;
      transition: color 0.1s linear, background-color 0.2s linear;
      &:hover {
         color: #0990ff;
         background-color: #ebe8e8;
      }
   }
}
.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 33.3333%;
   &__icon {
      width: 48px;
      height: 48px;
      fill: #43a9ff;
   }

   &__title {
      margin-top: 38px;
      width: 253px;
      height: 17px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.18px;
      text-align: center;
      color: #000000;
   }

   &__text {
      margin-top: 41px;
      width: 226px;
      height: 38px;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: 0.14px;
      text-align: center;
      color: rgba(75, 88, 99, 0.35);
   }
}
.about {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   min-height: 562px * 2;
   justify-content: center;
   overflow: hidden;
   &__photo1 {
      width: 1000px;
      height: 562px;
   }

   &__text1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1000px;
      height: 562px;
      background-color: #f7f8fb;
      border-bottom: 1px solid #000;
   }

   &__text2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1000px;
      height: 562px;
      background-color: #f7f8fb;
   }

   &__photo2 {
      width: 1000px;
      height: 562px;
   }

   &__title {
      margin-left: -42px;
      width: 460px;
      height: 45px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: left;
      color: #000000;
   }
   &__content {
      width: 492px;
      height: 87px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25;
      letter-spacing: 0.16px;
      text-align: left;
      color: rgba(75, 88, 99, 0.35);
   }
}
.benefits {
   width: 100%;
   height: 1838px;
   background: url(benefits-background.png);
   background-size: 100% 1838px;
   display: flex;
   flex-direction: column;
   align-items: center;
   &__inner {
      display: flex;
      flex-direction: row;
      // justify-content: center;
      align-items: center;
      margin: 0 auto;
   }

   &__title {
      width: 460px;
      height: 45px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: left;
      color: #43a9ff;
   }

   &__text {
      width: 492px;
      height: 87px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25;
      letter-spacing: 0.16px;
      text-align: left;
      color: rgba(75, 88, 99, 0.35);
   }
   &__content {
      padding: 174px;
   }
}

.john {
   width: 100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #f7f8fb;
   &__photo {
      width: 720px;
      height: 627px;
      margin-left: 265px / 2000px * 100%;
   }

   &__text {
      margin-left: 90px;
   }
   &__title {
      width: 535px;
      height: 46px;
      font-family: Montserrat;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: left;
      color: #fe3254;
   }
   &__content {
      width: 498px;
      height: 88px;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25;
      letter-spacing: 0.16px;
      text-align: left;
      color: rgba(75, 88, 99, 0.35);
   }
}

.footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: url(Photo.png);
   background-size: 100% 100%;
   width: 100%;
   height: 1528px;
   background-color: #ffffff;
   &__suptitle {
      margin-top: 134px;
      width: 513px;
      height: 18px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.18px;
      text-align: left;
      color: rgba(75, 88, 99, 0.25);
   }

   &__title {
      margin-top: 22px;
      width: 676px;
      height: 46px;
      font-family: Montserrat;
      white-space: nowrap;
      font-size: 48px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.38;
      letter-spacing: 0.48px;
      text-align: left;
      color: #000000;
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 92px;
      width: 229px;
      height: 51px;
      border-radius: 22px;
      box-shadow: 0 0 35px 0 rgba(218, 229, 239, 0.45);
      background-color: #ffffff;
      font-family: Montserrat;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.29;
      letter-spacing: 0.14px;
      text-align: center;
      color: #43a9ff;
      transition: color 0.1s linear, background-color 0.2s linear;
      &:hover {
         color: #0990ff;
         background-color: #ebe8e8;
      }
   }
}
